<div class="banner" style="background-image: linear-gradient(-22deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.3) 50%), url(<%= image_path 'images/port_essaouira2.jpg' %>);">
  <div class="banner-content">
    <h1>Riad Zouhra</h1>
    <p class="text-right">Essaouira</p>
  </div>
  <div class="banner-bottom">
    <div class="link">
      <a href="#intro"><h4>AFFICHER LA SUITE</h4></a>
      <a href="#intro">
        <div class="circle">
          <div class="triangle-down"></div>
        </div>
      </a>
    </div>
  </div>
</div>

