<div class="footer">
  <div class="footer-copyright"></div>
  <div class="footer-links">
    <a href="#">riadzouhra@gmail.com</a>
    <a href="https://www.facebook.com/riadzouhra.essaouira"><i class="fa fa-facebook"></i></a>
  </div>
</div>
