<div class="footer">
  <div class="footer-copyright"></div>
  <div class="footer-links">
    <p><a href="mailto:riadzouhra@gmail.com">riadzouhra@gmail.com</a></p>
    <p class="mention_link"><%= link_to "Mentions légales", "mention.html" %></p>
    <a href="https://www.facebook.com/riadzouhra.essaouira" target="_blank"><i class="fa fa-facebook"></i></a>
  </div>
</div>
