 <div class="row">
    <h3>Accés au Riad</h3>
    <div class="col-xs-12 col-md-6">
      <p><%= data.infos["details_pratique"].text%></p>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="photo-h-2">

      </div>
    </div>
  </div>

