<section id="infos">
  <div class="section-title" style="background-image: url('http://www.villa-maroc.com/wp-content/uploads/IMG_3930.jpg');">
    <h3>Infos Pratiques</h3>
  </div>

  <div class="menu">
    <ul class="list-inline">
      <li><a href="">Situer le Riad</a></li>
      <li><a href="">Le Riad à votre arrivée</a></li>
      <li><a href="">Actualités d'Essaouira</a></li>
    </ul>
  </div>

  <div class="container section-top">
    <div class="split">
      <div class="split-left"> MAP</div>
      <div class="split-right"></div>
    </div>
  </div>
</section>
