<section id="infos">
  <div class="section-title" style="background-image: url('http://www.villa-maroc.com/wp-content/uploads/IMG_3930.jpg');">
    <h3>Infos Pratiques</h3>
    <div class="menu">
      <ul class="list-inline">
        <li><a href="">Votre Arrivée</a></li>
        <li><a href="">Localisation</a></li>
        <li><a href="">Avis</a></li>
        <li><a href="">Essaouira</a></li>
      </ul>
    </div>
  </div>


  <div class="container section-top">
    <div class="split">
      <div class="split-left"> MAP</div>
      <div class="split-right"></div>
    </div>
  </div>
</section>
