 <div class="row">
    <h3>Accés au Riad</h3>
    <div class="col-xs-12 col-md-6">
      <p><%= data.infos["details_pratique"].text%></p>
    </div>
    <div class="col-xs-12 col-md-6">

        <%#= image_tag "https://maps.googleapis.com/maps/api/staticmap?center=Rue+Al+Morabitine%2C+Essaouira+44100%2C+Maroc&zoom=15&size=600x300&maptype=roadmap&markers=color:blue%7Clabel:Riad%7C31.512886,-9.765531" %>
       <div id="map"></div>
    </div>
  </div>

