 <div class="row">
    <h3>Contacts</h3>
    <div class="col-xs-12 col-sm-6">
      <p>Riad Zouhra <br> Rue Mourabitine <br> 44000 Essaouira </p>
      <p><i class="glyphicon glyphicon-envelope"></i> riadzouhra@gmail.com</p>
      <p>Tel: +33(0)9 61 54 62 52</p>
    </div>
    <div class="col-xs-12 col-sm-6">
      <div class="photo-h-2">

      </div>
    </div>
  </div>

