

  <section id="intro">
    <div class="container section-top">
      <h3>Bienvenue au Riad Zouhra</h3>
      <div class="split">
        <div class="split-left">
          <p><%= data.infos["accueil"].intro%></p>
        </div>
        <div class="split-right"></div>
      </div>
    </div>
  </section>
