

  <section id="intro">
    <div class="container section-top">
      <div class="row intro-title">
      <h3>Bienvenue au Riad Zouhra</h3>
        <div class="col-xs-12 col-sm-6">
          <p><%= data.infos["accueil"].intro%></p>
        </div>
        <div class="col-xs-12 col-sm-6 hidden-xs">
          <%= image_tag "https://maps.googleapis.com/maps/api/staticmap?center=Rue+Al+Morabitine%2C+Essaouira+44100%2C+Maroc&zoom=15&size=500x300&maptype=roadmap&markers=color:blue%7Clabel:Riad%7C31.512886,-9.765531" %>
          <p><i>Riad Zouhra, Rue Mourabitine Essaouira</i></p>
          <%#= image_tag "googlemap.png", height: '100%', width: '100%' %>
         <!--  <div id="map"></div> -->
         <%#= image_tag "https://www.google.com/maps/place/Riad+Zouhra/@31.513613,-9.765476,19z/data=!4m5!3m4!1s0x0:0x7feaf21f102ec24b!8m2!3d31.513399!4d-9.765647?hl=fr-FR" %>
        </div>
      </div>

    </div>
  </section>
