

  <section id="intro">
    <div class="container section-top">
      <div class="row intro-title">
      <h3>Bienvenue au Riad Zouhra</h3>
        <div class="col-xs-12 col-sm-6">
          <p><%= data.infos["accueil"].intro%></p>
        </div>
        <div class="col-xs-12 col-sm-6 hidden-xs">
          <%#= image_tag "https://maps.googleapis.com/maps/api/staticmap?center=Rue+Al+Morabitine%2C+Essaouira+44100%2C+Maroc&zoom=15&size=600x300&maptype=roadmap&markers=color:blue%7Clabel:Riad%7C31.512886,-9.765531" %>
          <%= image_tag "googlemap.png", height: '100%', width: '100%' %>
        </div>
      </div>

    </div>
  </section>
