<div class="banner banner-small" style="background-image: linear-gradient(-22deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.3) 50%), url(<%= image_path 'images/port_essaouira2.jpg' %>);">
  <div class="banner-content">
    <h1>Mentions Légales</h1>
    <p class="text-right">Riad Zouhra</p>
  </div>
</div>

<div class="container-fluid mention_text">
  <h2>1. Présentation du site internet</h2>
  <p>En vertu de l'article 6 de la loi n° 2004-575 du 21 juin 2004 pour la confiance dans l'économie numérique, il est précisé aux utilisateurs du site internet&nbsp;<a href="http://www.riadzouhra.com/">http://www.riadzouhra.com/</a>&nbsp;l'identité des différents intervenants dans le cadre de sa réalisation et de son suivi:
  </p><p><strong>Propriétaire</strong> :   Dominique Cartailler   – 17, Rue Marie et Pierre Curie 43100 Brioude<br>
  <strong>Responsable publication</strong> : Dominique Cartailler – riadzouhra@gmail.com<br>
  Le responsable publication est une personne physique ou une personne morale.<br>
  <strong>Webmaster</strong> : Claudine PRADAL, pivotes.fr – clo.pradal@gmail.com<br>
  <strong>Hébergeur</strong> : Github Pages – 88 Colin P Kelly Junior Street,  United States CA 94107 San Francisco<br>
  <strong>Délégué à la protection des données</strong> : Dominique Cartailler – riadzouhra@gmail.com<br>
  </p>

  <h2>2. Conditions générales d’utilisation du site et des services proposés.</h2>
  <p>Le Site constitue une œuvre de l’esprit protégée par les dispositions du Code de la Propriété Intellectuelle et des Réglementations Internationales applicables.
  Le Client ne peut en aucune manière réutiliser, céder ou exploiter pour son propre compte tout ou partie des éléments ou travaux du Site.</p>
  <p>L’utilisation du site&nbsp;<a href="http://www.riadzouhra.com/">http://www.riadzouhra.com/</a>&nbsp;implique l’acceptation pleine et entière des conditions générales d’utilisation ci-après décrites. Ces conditions d’utilisation sont susceptibles d’être modifiées ou complétées à tout moment, les utilisateurs du site&nbsp;<a href="http://www.riadzouhra.com/">http://www.riadzouhra.com/</a>&nbsp;sont donc invités à les consulter de manière régulière.</p>
  <p>Ce site internet est normalement accessible à tout moment aux utilisateurs. Une interruption pour raison de maintenance technique peut être toutefois décidée par <a href="http://www.riadzouhra.com/">http://www.riadzouhra.com/</a>, qui s’efforcera alors de communiquer préalablement aux utilisateurs les dates et heures de l’intervention.
  Le site web&nbsp;<a href="http://www.riadzouhra.com/">http://www.riadzouhra.com/</a>&nbsp;est mis à jour régulièrement par <a href="http://www.riadzouhra.com/">http://www.riadzouhra.com/</a> responsable. De la même façon, les mentions légales peuvent être modifiées à tout moment : elles s’imposent néanmoins à l’utilisateur qui est invité à s’y référer le plus souvent possible afin d’en prendre connaissance.</p>

  <h2>3. Description des services fournis.</h2>
  <p>Le site internet&nbsp;<a href="http://www.riadzouhra.com/">http://www.riadzouhra.com/</a>&nbsp;a pour objet de fournir une information concernant le Riad Zouhra.
  <a href="http://www.riadzouhra.com/">http://www.riadzouhra.com/</a> s’efforce de fournir sur le site&nbsp;<a href="http://www.riadzouhra.com/">http://www.riadzouhra.com/</a>&nbsp;des informations aussi précises que possible. Toutefois, il ne pourra être tenu responsable des oublis, des inexactitudes et des carences dans la mise à jour, qu’elles soient de son fait ou du fait des tiers partenaires qui lui fournissent ces informations.</p>

  <p>Toutes les informations indiquées sur le site&nbsp;<a href="http://www.riadzouhra.com/">http://www.riadzouhra.com/</a>&nbsp;sont données à titre indicatif, et sont susceptibles d’évoluer. Par ailleurs, les renseignements figurant sur le site&nbsp;<a href="http://www.riadzouhra.com/">http://www.riadzouhra.com/</a>&nbsp;ne sont pas exhaustifs. Ils sont donnés sous réserve de modifications ayant été apportées depuis leur mise en ligne.</p>

  <h2>4. Limitations contractuelles sur les données techniques.</h2>

  <p>Le site utilise la technologie JavaScript.
  Le site Internet ne pourra être tenu responsable de dommages matériels liés à l’utilisation du site. De plus, l’utilisateur du site s’engage à accéder au site en utilisant un matériel récent, ne contenant pas de virus et avec un navigateur de dernière génération mis-à-jour.</p>

  <p><a href="http://www.riadzouhra.com/">http://www.riadzouhra.com/</a> et l’hébergeur ne pourront être tenus responsables en cas de dysfonctionnement du réseau Internet, des lignes téléphoniques ou du matériel informatique et de téléphonie lié notamment à l’encombrement du réseau empêchant l’accès au serveur.</p>

  <h2>5. Propriété intellectuelle et contrefaçons.</h2>

  <p><a href="http://www.riadzouhra.com/">http://www.riadzouhra.com/</a> est propriétaire des droits de propriété intellectuelle et détient les droits d’usage sur tous les éléments accessibles sur le site internet, notamment les textes, images, graphismes, logos, vidéos, icônes et sons.
  Toute reproduction, représentation, modification, publication, adaptation de tout ou partie des éléments du site, quel que soit le moyen ou le procédé utilisé, est interdite, sauf autorisation écrite préalable de : <a href="http://www.riadzouhra.com/">http://www.riadzouhra.com/</a>.</p>

  <p>Toute exploitation non autorisée du site ou de l’un quelconque des éléments qu’il contient sera considérée comme constitutive d’une contrefaçon et poursuivie conformément aux dispositions des articles L.335-2 et suivants du Code de Propriété Intellectuelle.</p>

  <h2>6. Limitations de responsabilité.</h2>

  <p><a href="http://www.riadzouhra.com/">http://www.riadzouhra.com/</a> agit en tant qu’éditeur du site. <a href="http://www.riadzouhra.com/">http://www.riadzouhra.com/</a> &nbsp;est responsable de la qualité et de la véracité du Contenu qu’il publie. </p>

  <p><a href="http://www.riadzouhra.com/">http://www.riadzouhra.com/</a> ne pourra être tenu responsable des dommages directs et indirects causés au matériel de l’utilisateur, lors de l’accès au site internet <a href="http://www.riadzouhra.com/">http://www.riadzouhra.com/</a>, et résultant soit de l’utilisation d’un matériel ne répondant pas aux spécifications indiquées au point 4, soit de l’apparition d’un bug ou d’une incompatibilité.</p>

  <p><a href="http://www.riadzouhra.com/">http://www.riadzouhra.com/</a> ne pourra également être tenu responsable des dommages indirects (tels par exemple qu’une perte de marché ou perte d’une chance) consécutifs à l’utilisation du site&nbsp;<a href="http://www.riadzouhra.com/">http://www.riadzouhra.com/</a>.
  Des espaces interactifs (possibilité de poser des questions dans l’espace contact) sont à la disposition des utilisateurs. <a href="http://www.riadzouhra.com/">http://www.riadzouhra.com/</a> se réserve le droit de supprimer, sans mise en demeure préalable, tout contenu déposé dans cet espace qui contreviendrait à la législation applicable en France, en particulier aux dispositions relatives à la protection des données. Le cas échéant, <a href="http://www.riadzouhra.com/">http://www.riadzouhra.com/</a> se réserve également la possibilité de mettre en cause la responsabilité civile et/ou pénale de l’utilisateur, notamment en cas de message à caractère raciste, injurieux, diffamant, ou pornographique, quel que soit le support utilisé (texte, photographie …).</p>

  <h2>7. Gestion des données personnelles.</h2>

  <p>Le Client est informé des réglementations concernant la communication marketing, la loi du 21 Juin 2014 pour la confiance dans l’Economie Numérique, la Loi Informatique et Liberté du 06 Août 2004 ainsi que du Règlement Général sur la Protection des Données (RGPD&nbsp;: n° 2016-679). </p>

  <p>Aucune information personnelle n'est collectée à votre insu. Les informations que vous nous communiquez lors d’une demande de devis ou de renseignements par courrier, par téléphone, par e-mail ou par formulaire sont uniquement destinées au traitement administratif et commercial de votre demande par Riad Zouhra.</p>

  <p>Elles ne font l'objet d'aucune cession à des tiers. <a href="http://www.riadzouhra.com/">http://www.riadzouhra.com/</a>  traite les informations qui vous concernent avec la plus grande confidentialité.</p>

  <p>Vos données seront conservées pour une durée de 3 ans, reconductible dans le cadre d'une nouvelle prise de contact par le client.</p>

  <p>Conformément à la loi « Informatique et Libertés » n°78-17 du 6 janvier 1978, vous disposez d'un droit d'accès, de rectification et d'opposition aux données personnelles vous concernant. Pour l'exercer, il suffit de nous en faire la demande par écrit aux coordonnées suivantes : riadzouhra@gmail.com.
  Droit d'auteur / copyright</p>

  <div ng-bind-html="rgpdHTML"></div>

  <h2>8. Notification d’incident</h2>
  <p>
  Quels que soient les efforts fournis, aucune méthode de transmission sur Internet et aucune méthode de stockage électronique n'est complètement sûre. Nous ne pouvons en conséquence pas garantir une sécurité absolue.
  Si nous prenions connaissance d'une brèche de la sécurité, nous avertirions les utilisateurs concernés afin qu'ils puissent prendre les mesures appropriées. Nos procédures de notification d’incident tiennent compte de nos obligations légales, qu'elles se situent au niveau national ou européen. Nous nous engageons à informer pleinement nos clients de toutes les questions relevant de la sécurité de leur compte et à leur fournir toutes les informations nécessaires pour les aider à respecter leurs propres obligations réglementaires en matière de reporting.</p>
  <p>
  Aucune information personnelle de l'utilisateur du site&nbsp;<a href="http://www.riadzouhra.com/">http://www.riadzouhra.com/</a>&nbsp;n'est publiée à l'insu de l'utilisateur, échangée, transférée, cédée ou vendue sur un support quelconque à des tiers. Seule l'hypothèse du rachat de <a href="http://www.riadzouhra.com/">http://www.riadzouhra.com/</a> et de ses droits permettrait la transmission des dites informations à l'éventuel acquéreur qui serait à son tour tenu de la même obligation de conservation et de modification des données vis à vis de l'utilisateur du site&nbsp;<a href="http://www.riadzouhra.com/">http://www.riadzouhra.com/</a>.</p>

  <h2>9. Liens hypertextes « cookies » et balises (“tags”) internet</h2>
  <p>
  Les liens hypertextes mis en oeuvre au sein du présent site Internet, en direction d'autres sites et/ou de pages personnelles et d'une manière générale vers toutes ressources existantes sur Internet, ne sauraient engager la responsabilité de Riad Zouhra.
  De même que Riad Zouhra ne pourra en aucune façon être tenue pour responsable des sites ayant un lien hypertexte avec le présent site et décline toute responsabilité quant à leur contenu et à leur utilisation.
  </p>

  </p><h2>10. Droit applicable et attribution de juridiction.</h2>
   <p>
  Tout litige en relation avec l’utilisation du site&nbsp;<a href="http://www.riadzouhra.com/">http://www.riadzouhra.com/</a>&nbsp;est soumis au droit français.
  En dehors des cas où la loi ne le permet pas, il est fait attribution exclusive de juridiction aux tribunaux compétents de Brioude</p>

  <br>
  <div ng-bind-html="linkHTML"><p>Exemple de mentions légales RGPD offert par Orson.io la solution pour <a href="https://fr.orson.io/94/creer-mon-site-internet-professionnel" title="faire un site professionnel">faire un site professionnel</a></p></div>


</div>

