
  <div class="row">
    <h3>Le Riad</h3>
    <div class="col-xs-12 col-sm-6">
      <p><%= data.etages["description_riad"].intro%></p>
      <p><%= data.etages["description_riad"].text%></p>
    </div>
    <div class="col-xs-12 col-sm-6">
      <div class="photo-h-2">
        <%= image_tag "entree6.jpg"%>
      </div>
    </div>
  </div>

