<section id="visit">
  <div class="section-title" style="background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/5/5c/Traditional_Moroccan_shoes_called_%22babouches%22.JPG/1200px-Traditional_Moroccan_shoes_called_%22babouches%22.JPG');">
    <h3>Visitez le Riad</h3>
  </div>
  <div class="menu">
    <ul class="list-inline">
      <li><a href="">Le Riad</a></li>
      <li><a href="">Rez de Chaussee</a></li>
      <li><a href="">1er Etage</a></li>
      <li><a href="">2eme Etage</a></li>
      <li><a href="">Terrasse</a></li>
    </ul>
  </div>

  <div class="container section-top">
    <div class="split">
      <div class="split-left"> INFOS RIAD</div>
      <div class="split-right"></div>
    </div>
  </div>
</section>
