// Import your components CSS files here.
@import "alert";
@import "navbar";
@import "banner";
@import "split";
@import "section";
@import "menu";
@import "footer";
@import "carrousel";
@import "map";
@import "card";
@import "list";
@import "mention";

p {
  text-align: justify;
  font-size: 14px;
}

body {
  -webkit-overflow-scrolling: touch;
}

html {
  scroll-behavior: smooth;
}
